<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="../css/output.css">
</head>
<body class="text-white">
    <div id="enter-url" class="flex p-8 justify-center bg-black min-h-dvh">
        <form method="post" class="w-1/2 flex gap-4 flex-col  items-center ">
            <input type="text" placeholder="Enter your Name " name="name" class="p-2 rounded-md bg-transparent w-full border outline-none" required maxlength="30">
            <input type="email" placeholder="Enter your Email Address " name="email" class="p-2 rounded-md bg-transparent w-full border outline-none" required>
            <input type="password" placeholder="Enter your Password " name="password" class="p-2 rounded-md bg-transparent w-full border outline-none" required maxlength="16">
            <button type="submit" class="p-2 rounded-md bg-transparent border">Signup</button>
        </form>
    </div>
</body>
</html>